default_hir_kind = "Internal"

# Text tokens - Python syntax tokens
[[text_tokens]]
name = "Text_def"
literal = "def"
hir_kind = "Text"

[[text_tokens]]
name = "Text_class"
literal = "class"
hir_kind = "Text"

[[text_tokens]]
name = "Text_LPAREN"
literal = "("
hir_kind = "Text"

[[text_tokens]]
name = "Text_RPAREN"
literal = ")"
hir_kind = "Text"

[[text_tokens]]
name = "Text_LBRACKET"
literal = "["
hir_kind = "Text"

[[text_tokens]]
name = "Text_RBRACKET"
literal = "]"
hir_kind = "Text"

[[text_tokens]]
name = "Text_LBRACE"
literal = "{"
hir_kind = "Text"

[[text_tokens]]
name = "Text_RBRACE"
literal = "}"
hir_kind = "Text"

[[text_tokens]]
name = "Text_COLON"
literal = ":"
hir_kind = "Text"

[[text_tokens]]
name = "Text_COMMA"
literal = ","
hir_kind = "Text"

[[text_tokens]]
name = "Text_DOT"
literal = "."
hir_kind = "Text"

[[text_tokens]]
name = "Text_EQ"
literal = "="
hir_kind = "Text"

[[text_tokens]]
name = "Text_ARROW"
literal = "->"
hir_kind = "Text"

[[text_tokens]]
name = "Text_EQEQ"
literal = "=="
hir_kind = "Text"

[[text_tokens]]
name = "Text_NE"
literal = "!="
hir_kind = "Text"

[[text_tokens]]
name = "Text_LT"
literal = "<"
hir_kind = "Text"

[[text_tokens]]
name = "Text_GT"
literal = ">"
hir_kind = "Text"

[[text_tokens]]
name = "Text_LE"
literal = "<="
hir_kind = "Text"

[[text_tokens]]
name = "Text_GE"
literal = ">="
hir_kind = "Text"

[[text_tokens]]
name = "Text_PLUS"
literal = "+"
hir_kind = "Text"

[[text_tokens]]
name = "Text_MINUS"
literal = "-"
hir_kind = "Text"

[[text_tokens]]
name = "Text_STAR"
literal = "*"
hir_kind = "Text"

[[text_tokens]]
name = "Text_SLASH"
literal = "/"
hir_kind = "Text"

[[text_tokens]]
name = "Text_PERCENT"
literal = "%"
hir_kind = "Text"

[[text_tokens]]
name = "Text_STARSTAR"
literal = "**"
hir_kind = "Text"

[[text_tokens]]
name = "Text_SLASHSLASH"
literal = "//"
hir_kind = "Text"

[[text_tokens]]
name = "Text_AT"
literal = "@"
hir_kind = "Text"

[[text_tokens]]
name = "Text_and"
literal = "and"
hir_kind = "Text"

[[text_tokens]]
name = "Text_or"
literal = "or"
hir_kind = "Text"

[[text_tokens]]
name = "Text_not"
literal = "not"
hir_kind = "Text"

[[text_tokens]]
name = "Text_in"
literal = "in"
hir_kind = "Text"

[[text_tokens]]
name = "Text_is"
literal = "is"
hir_kind = "Text"

[[text_tokens]]
name = "Text_if"
literal = "if"
hir_kind = "Text"

[[text_tokens]]
name = "Text_else"
literal = "else"
hir_kind = "Text"

[[text_tokens]]
name = "Text_elif"
literal = "elif"
hir_kind = "Text"

[[text_tokens]]
name = "Text_for"
literal = "for"
hir_kind = "Text"

[[text_tokens]]
name = "Text_while"
literal = "while"
hir_kind = "Text"

[[text_tokens]]
name = "Text_return"
literal = "return"
hir_kind = "Text"

[[text_tokens]]
name = "Text_yield"
literal = "yield"
hir_kind = "Text"

[[text_tokens]]
name = "Text_import"
literal = "import"
hir_kind = "Text"

[[text_tokens]]
name = "Text_from"
literal = "from"
hir_kind = "Text"

[[text_tokens]]
name = "Text_as"
literal = "as"
hir_kind = "Text"

[[text_tokens]]
name = "Text_try"
literal = "try"
hir_kind = "Text"

[[text_tokens]]
name = "Text_except"
literal = "except"
hir_kind = "Text"

[[text_tokens]]
name = "Text_finally"
literal = "finally"
hir_kind = "Text"

[[text_tokens]]
name = "Text_raise"
literal = "raise"
hir_kind = "Text"

[[text_tokens]]
name = "Text_with"
literal = "with"
hir_kind = "Text"

[[text_tokens]]
name = "Text_pass"
literal = "pass"
hir_kind = "Text"

[[text_tokens]]
name = "Text_break"
literal = "break"
hir_kind = "Text"

[[text_tokens]]
name = "Text_continue"
literal = "continue"
hir_kind = "Text"

[[text_tokens]]
name = "Text_lambda"
literal = "lambda"
hir_kind = "Text"

[[text_tokens]]
name = "Text_global"
literal = "global"
hir_kind = "Text"

[[text_tokens]]
name = "Text_nonlocal"
literal = "nonlocal"
hir_kind = "Text"

[[text_tokens]]
name = "Text_assert"
literal = "assert"
hir_kind = "Text"

[[text_tokens]]
name = "Text_del"
literal = "del"
hir_kind = "Text"

[[text_tokens]]
name = "Text_async"
literal = "async"
hir_kind = "Text"

[[text_tokens]]
name = "Text_await"
literal = "await"
hir_kind = "Text"

# Node types
[[nodes]]
ts_name = "module"
hir_kind = "Scope"
block_kind = "Root"

[[nodes]]
ts_name = "function_definition"
hir_kind = "Scope"
block_kind = "Func"

[[nodes]]
ts_name = "class_definition"
hir_kind = "Scope"
block_kind = "Class"

[[nodes]]
ts_name = "decorated_definition"

[[nodes]]
ts_name = "decorator"

[[nodes]]
ts_name = "parameters"

[[nodes]]
ts_name = "lambda_parameters"

[[nodes]]
ts_name = "block"
hir_kind = "Scope"
block_kind = "Scope"

[[nodes]]
ts_name = "identifier"
hir_kind = "Identifier"

[[nodes]]
ts_name = "type"
name = "type_"
hir_kind = "Internal"

[[nodes]]
ts_name = "generic_type"

[[nodes]]
ts_name = "union_type"

[[nodes]]
ts_name = "member_type"

[[nodes]]
ts_name = "constrained_type"

[[nodes]]
ts_name = "splat_type"

[[nodes]]
ts_name = "type_parameter"
hir_kind = "Scope"

[[nodes]]
ts_name = "type_alias_statement"
hir_kind = "Scope"
block_kind = "Alias"

[[nodes]]
ts_name = "default_parameter"
block_kind = "Parameter"

[[nodes]]
ts_name = "typed_parameter"
block_kind = "Parameter"

[[nodes]]
ts_name = "typed_default_parameter"
block_kind = "Parameter"

[[nodes]]
ts_name = "list_splat_pattern"
block_kind = "Parameter"

[[nodes]]
ts_name = "dictionary_splat_pattern"
block_kind = "Parameter"

[[nodes]]
ts_name = "keyword_separator"

[[nodes]]
ts_name = "positional_separator"

[[nodes]]
ts_name = "assignment"

[[nodes]]
ts_name = "augmented_assignment"

[[nodes]]
ts_name = "attribute"

[[nodes]]
ts_name = "subscript"

[[nodes]]
ts_name = "call"
block_kind = "Call"

[[nodes]]
ts_name = "argument_list"

[[nodes]]
ts_name = "keyword_argument"

[[nodes]]
ts_name = "list"

[[nodes]]
ts_name = "list_comprehension"

[[nodes]]
ts_name = "dictionary"

[[nodes]]
ts_name = "dictionary_comprehension"

[[nodes]]
ts_name = "set"

[[nodes]]
ts_name = "set_comprehension"

[[nodes]]
ts_name = "tuple"

[[nodes]]
ts_name = "tuple_expression"

[[nodes]]
ts_name = "tuple_pattern"

[[nodes]]
ts_name = "list_pattern"

[[nodes]]
ts_name = "dict_pattern"

[[nodes]]
ts_name = "generator_expression"

[[nodes]]
ts_name = "for_in_clause"

[[nodes]]
ts_name = "if_clause"

[[nodes]]
ts_name = "binary_operator"

[[nodes]]
ts_name = "unary_operator"

[[nodes]]
ts_name = "boolean_operator"

[[nodes]]
ts_name = "not_operator"

[[nodes]]
ts_name = "comparison_operator"

[[nodes]]
ts_name = "lambda"
hir_kind = "Scope"
block_kind = "Closure"

[[nodes]]
ts_name = "conditional_expression"

[[nodes]]
ts_name = "named_expression"

[[nodes]]
ts_name = "as_pattern"

[[nodes]]
ts_name = "await"
name = "await_"

[[nodes]]
ts_name = "yield"
name = "yield_"

[[nodes]]
ts_name = "parenthesized_expression"

[[nodes]]
ts_name = "slice"

[[nodes]]
ts_name = "string"

[[nodes]]
ts_name = "concatenated_string"

[[nodes]]
ts_name = "string_content"

[[nodes]]
ts_name = "interpolation"

[[nodes]]
ts_name = "format_specifier"

[[nodes]]
ts_name = "format_expression"

[[nodes]]
ts_name = "integer"

[[nodes]]
ts_name = "float"

[[nodes]]
ts_name = "true"
name = "true_literal"
hir_kind = "Internal"

[[nodes]]
ts_name = "false"
name = "false_literal"
hir_kind = "Internal"

[[nodes]]
ts_name = "none"
name = "none_literal"
hir_kind = "Internal"

[[nodes]]
ts_name = "ellipsis"
hir_kind = "Internal"

[[nodes]]
ts_name = "comment"

[[nodes]]
ts_name = "if_statement"

[[nodes]]
ts_name = "elif_clause"

[[nodes]]
ts_name = "else_clause"

[[nodes]]
ts_name = "for_statement"

[[nodes]]
ts_name = "while_statement"

[[nodes]]
ts_name = "try_statement"

[[nodes]]
ts_name = "except_clause"
hir_kind = "Scope"

[[nodes]]
ts_name = "finally_clause"

[[nodes]]
ts_name = "with_statement"

[[nodes]]
ts_name = "with_clause"

[[nodes]]
ts_name = "with_item"

[[nodes]]
ts_name = "match_statement"

[[nodes]]
ts_name = "case_clause"
hir_kind = "Scope"

[[nodes]]
ts_name = "case_pattern"

[[nodes]]
ts_name = "class_pattern"

[[nodes]]
ts_name = "complex_pattern"

[[nodes]]
ts_name = "splat_pattern"

[[nodes]]
ts_name = "union_pattern"

[[nodes]]
ts_name = "keyword_pattern"

[[nodes]]
ts_name = "pattern_list"

[[nodes]]
ts_name = "return_statement"

[[nodes]]
ts_name = "raise_statement"

[[nodes]]
ts_name = "pass_statement"

[[nodes]]
ts_name = "break_statement"

[[nodes]]
ts_name = "continue_statement"

[[nodes]]
ts_name = "global_statement"

[[nodes]]
ts_name = "nonlocal_statement"

[[nodes]]
ts_name = "assert_statement"

[[nodes]]
ts_name = "delete_statement"

[[nodes]]
ts_name = "print_statement"

[[nodes]]
ts_name = "exec_statement"

[[nodes]]
ts_name = "expression_statement"

[[nodes]]
ts_name = "expression_list"

[[nodes]]
ts_name = "import_statement"

[[nodes]]
ts_name = "import_from_statement"

[[nodes]]
ts_name = "future_import_statement"

[[nodes]]
ts_name = "aliased_import"

[[nodes]]
ts_name = "wildcard_import"

[[nodes]]
ts_name = "dotted_name"

[[nodes]]
ts_name = "relative_import"

[[nodes]]
ts_name = "import_prefix"

# Fields
[[fields]]
name = "field_name"
field_name = "name"

[[fields]]
name = "field_type"
field_name = "type"

[[fields]]
name = "field_value"
field_name = "value"

[[fields]]
name = "field_parameters"
field_name = "parameters"

[[fields]]
name = "field_body"
field_name = "body"

[[fields]]
name = "field_return_type"
field_name = "return_type"
block_kind = "Return"

[[fields]]
name = "field_left"
field_name = "left"

[[fields]]
name = "field_right"
field_name = "right"

[[fields]]
name = "field_operator"
field_name = "operator"

[[fields]]
name = "field_operators"
field_name = "operators"

[[fields]]
name = "field_function"
field_name = "function"

[[fields]]
name = "field_arguments"
field_name = "arguments"

[[fields]]
name = "field_object"
field_name = "object"

[[fields]]
name = "field_attribute"
field_name = "attribute"

[[fields]]
name = "field_subscript"
field_name = "subscript"

[[fields]]
name = "field_key"
field_name = "key"

[[fields]]
name = "field_superclasses"
field_name = "superclasses"

[[fields]]
name = "field_argument"
field_name = "argument"

[[fields]]
name = "field_condition"
field_name = "condition"

[[fields]]
name = "field_consequence"
field_name = "consequence"

[[fields]]
name = "field_alternative"
field_name = "alternative"

[[fields]]
name = "field_subject"
field_name = "subject"

[[fields]]
name = "field_cause"
field_name = "cause"

[[fields]]
name = "field_module_name"
field_name = "module_name"

[[fields]]
name = "field_alias"
field_name = "alias"

# Required by define_lang macro - Python doesn't have traits, so map to "name"
# This allows the code to compile; trait_field() lookups will never match in Python
[[fields]]
name = "field_trait"
field_name = "name"
